* {
    margin: 0;
}

html {
    height: 100vh;
}

body {
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
    color: #00FF00;
    min-height: 100vh;
}

h1 {
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

h5 {
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-align: center;
}

h6 {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-align: center;
}

.wordwrap-fix {
    -ms-word-break: break-all;
    word-break: break-all;
}

img {
    max-height: 400px;
    max-width: 400px;
}

@media only screen and (min-width: 769px) {
    h1 {
        font-size: 70px;
        -ms-word-break: unset;
        word-break: unset;
    }
    h5 {
        -ms-word-break: unset;
        word-break: unset;
    }
    .meme {
        padding-left: 15%;
        padding-right: 15%;
        max-width: 80%;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 50px;
        -ms-word-break: unset;
        word-break: unset;
    }
    h5 {
        -ms-word-break: unset;
        word-break: unset;
    }
}

.meme {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    max-width: 100%;
    font-size: 15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    width: 100%;
    font-size: 15px;
}

.hidden {
    display: none;
}

a {
    color: inherit;
}