body {
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
    color: #00FF00;
}

h1 {
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-align: center;
}

h5 {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-align: center;
}

.wordwrap-fix {
    -ms-word-break: break-all;
    word-break: break-all;
}

img {
    max-width: 400px;
    max-height: 400px;
}

@media only screen and (min-width: 769px) {
    h1 {
        font-size: 80px;
        -ms-word-break: unset;
        word-break: unset;
    }
    h5 {
        -ms-word-break: unset;
        word-break: unset;
    }
    .meme {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 60px;
        -ms-word-break: unset;
        word-break: unset;
    }
    h5 {
        -ms-word-break: unset;
        word-break: unset;
    }
    img {
        max-width: 600px;
        max-height: 600px;
    }
}

.meme {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
}

.hidden {
    display: none;
}

a {
    color: inherit;
}